GOOGLE_CLOUD_PROJECT="YOUR_PROJECT-ID"
GOOGLE_CLOUD_LOCATION="REGION"
GOOGLE_GENAI_USE_VERTEXAI="true"
GOOGLE_APPLICATION_CREDENTIALS="PATH_TO_SERVICE_ACCOUNT_CREDENTIALS"
GOOGLE_API_KEY="YOUR_GEMINI_API_KEY"

OLLAMA_BASE_URL=""

LIVEKIT_URL=""
LIVEKIT_API_KEY=""
LIVEKIT_API_SECRET=""